<div class="container">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Id</label>
    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Id"
      [(ngModel)]="terminalFinal.idTerminal">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre"
      [(ngModel)]="terminalFinal.nombre">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Numero Puertas</label>
    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Puertas"
      [(ngModel)]="terminalFinal.numeroPuertas">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Objetos Perdidos</label>
    <input type="button" class="form-control" id="exampleFormControlInput1" placeholder="Nuevo"
      (click)="addObjetoPerdido()">
  </div>
  <div *ngFor="let objeto of terminalFinal.objetosPerdidos">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"> Fecha</label>
      <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="Fecha"
        [(ngModel)]="objeto.fecha">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Nombre Objeto</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre"
        [(ngModel)]="objeto.nombreObjeto">
    </div>
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
  </div>
</div>
