<div class="filters container-fluid">
  <div class="row">
    <div class="col-2">
      <input type="number" #terminal placeholder="terminal">
      <button class="col-3" (click)="filterTerminal()" mat-button>Search</button>
    </div>
    <div class="col-2">
      <input type="text" #compania placeholder="compania">
      <button class="col-3" (click)="filterCompania()" mat-button>Search</button>
    </div>
    <div class="col-2">
      <input type="text" #origen placeholder="origen">
      <button class="col-3" (click)="filterOrigen()" mat-button>Search</button>
    </div>
    <div class="col-2">
      <input type="text" #destino placeholder="destino">
      <button class="col-3" (click)="filterDestino()" mat-button>Search</button>
    </div>
    <div class="col-2">
      <button (click)="getVuelos()" mat-button>Clean</button>
    </div>
  </div>
</div>

<table mat-table [dataSource]="vuelos" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let vuelo"> {{vuelo.id_vuelo}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="idTerminal">
    <th mat-header-cell *matHeaderCellDef> Id Terminal </th>
    <td mat-cell *matCellDef="let vuelo"> {{vuelo.id_terminal}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="compania">
    <th mat-header-cell *matHeaderCellDef> Compañia </th>
    <td mat-cell *matCellDef="let vuelo"> {{vuelo.compania}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let vuelo"> {{vuelo.fechaHora | date}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="destino">
    <th mat-header-cell *matHeaderCellDef> Destino </th>
    <td mat-cell *matCellDef="let vuelo"> {{vuelo.destino}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="origen">
    <th mat-header-cell *matHeaderCellDef> Origen </th>
    <td mat-cell *matCellDef="let vuelo"> {{vuelo.origen}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="duracion">
    <th mat-header-cell *matHeaderCellDef> Duracion </th>
    <td mat-cell *matCellDef="let vuelo"> {{vuelo.duracion}} </td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="add">
    <th mat-header-cell *matHeaderCellDef>
      <button type="button" class="btn btn-primary" routerLink="/home/vuelo/form"> + </button>
    </th>
    <td mat-cell *matCellDef="let vuelo">
      <button type="button" class="btn btn-primary" (click)="edit(vuelo)"> Edit </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>
    </th>
    <td mat-cell *matCellDef="let vuelo">
      <button type="button" class="btn btn-danger" (click)="delete(vuelo.id_vuelo)"> Delete </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
